; Copyright (c) 2022 Ratheesh <ratheeshreddy@gmail.com>
; License: MIT
; Git Configuration

[alias]
    lg          = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
    undopush    = push -f origin HEAD^:master
    tags        = tag -l
    branches    = branch -a
    remotes     = remote -v
    cv          = commit -v
    checkout-pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1;  }; f"
    fixup       = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf --height=40% --border --margin=1 | cut -c -7 | xargs -o git commit --fixup"
    reword      = !git commit --fixup reword:$1 && GIT_EDITOR=true && git rebase --autosquash --interactive --rebase-merges $1~1 && echo \"Reword Finished!\"
    autofixup   = !git commit --fixup $1 && git rebase --autosquash --interactive --rebase-merges $1~1 && echo \"autofixup finished\"

[user]
    name          = Ratheesh S
    ; email         = ratheeshreddy@gmail.com
    useConfigOnly = true

[color]
    ui          = auto
    diff        = auto
    status      = auto
    branch      = auto
    interactive = auto

[color "branch"]
    current    = 27 italic
    local      = 180
    remote     = 65

[color "diff"]
    meta       = 95
    frag       = 180
    old        = 124
    new        = 29
    whitespace = 197 reverse
    plain      = 248

[color "grep"]
    linenumber = 162
    match      = 142
    filename   = 244

[color "status"]
    added     = 28
    updated   = green
    changed   = 180
    untracked = 244
    nobranch  = red

[color "decorate"]
    head         = 34
    branch       = 129 italic
    remoteBranch = 162
    tag          = 180

[color "interactive"]
    header = blue
    prompt = reverse
    help   = bold
    error  = red bold

[color "diff-highlight"]
    oldNormal    = 125
    oldHighlight = red bold 52
    newNormal    = 65
    newHighlight = green bold 22

[pager]
; Procedure to get diff-highlight on Linux OS(Ubuntu)
; Create and add $HOME/bin to PATH env variable
; cd /usr/share/doc/git/contrib/diff-highlight; sudo make; mv diff-highlight $HOME/bin
    log  = delta --diff-highlight
    show = delta --diff-highlight
    diff = delta --diff-highlight

[merge]
    ; include summaries of merged commits in newly created merge commit messages
    conflictstyle = diff3
    log = true

[diff]
    colorMoved = default
    tool = vimdiff

[sendemail]
    from           = Ratheesh S <ratheeshreddy@gmail.com>
    chainreplyto   = false
    smtpencryption = tls
    smtpserver     = smtp.gmail.com
    smtpserverport = 587
    smtpuser       = ratheeshreddy@gmail.com

[oh-my-zsh]
    hide-status = 1

[log]
    decorate    = auto

[format]
    pretty      = format:"%C(60)Commit%C(162): %C(137)%H%C(auto)%d\
%n%C(60)Author%C(162):%C(26) %aN %C(reset)%C(162 bold)«%C(reset)%C(66 italic)%aE%C(reset)%C(162 bold)»\
%n%C(60)Date  %C(162):%C(132) %ad%C(8) ⌠%C(reset)%C(60)%ar%C(8)⌡%n%n%C(244)%w(0,4,4)%C(244 italic)%s%n%n%C(auto)%b%C(reset)"

[magit]
    extension   = stgit

[core]
    ; editor = emacsclient -c
    ; Treat spaces before tabs, lines that are indented with 8 or more spaces,
    ; and all kinds of trailing whitespace as an error
    ;editor       = nvr --remote-wait-silent
    ; delta -> $ sudo apt install git-delta
    ; for bat related error remove ~/.cache/bat folder
    editor       = vim
    whitespace   = space-before-tab,trailing-space
    ; pager = diff-highlight | less -R
    pager = delta --diff-highlight
    preloadIndex = true ; help in getting git status faster
    compression = 0

[interactive]
    diffFilter = delta --color-only

[apply]
    ; detect whitespace errors when applying a patch
    whitespace = fix

[status]
    submodulesummary = 1

[branch]
    ; autoSetupRebase = always

[credential]
    helper = cache --timeout=60

[commit]
    verbose = true
    ; gpgsign = true

[pack] # https://git-scm.com/docs/git-config#git-config-packwindow
    compression = 9

[advice]
    waitingforeditor = false  # ignore "hint: Waiting for your editor to close the file..." message
	detached = head
    skippedCherryPicks = false

[fetch] # https://git-scm.com/docs/git-config#git-config-fetchrecurseSubmodules
    all = true
    prune = true

[push]
    default    = current
    followTags = true
    useForceIfIncludes = true
    autoSetupRemote = true

[pull]
    ; rebase = true
    ff = only

[rerere]
    enabled = false

[rebase]
    missingCommitsCheck = error
    autosquash = true
	updateRefs = true

[svn]
    rmdir = true

[commit] ; https://git-scm.com/docs/git-config#git-config-commitcleanup
    ; GPG-signed and Sign off the Developer Certificate of Origin <http://developercertificate.org>
    ; See also: <http://gerrit.googlecode.com/svn/documentation/2.0/user-signedoffby.html>
    ;           <http://stackoverflow.com/a/1962112/5228839>
    ; gpgSign = true
    verbose = true

[delta]
    ; side-by-side = true
    line-numbers = false
    true-color = always
    navigate = true
    light = true

[http]
  sslverify = false
    maxRequestBuffer = 100M

[https]
    postBuffer = 512M

; Convert https repo -> ssh repo
; [url "ssh://git@github.com"]
    ; insteadOf = https://github.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[absorb]
    oneFixupPerCommit = true

[am]
    threeWay = true

[remote "origin"]
    prune = true

[includeIf "gitdir:$HOME/ppcport"]
    [user]
        email = "ratheeshreddy@gmail.com"
    [core]
        sshCommand = "ssh -i $HOME/.ssh/id_rsa"

[init]
    defaultBranch = main

[log]
    date = short

; End of File
