*session.*
*backups*
*.places*
org-clock-save.el
*.dat
**/ido*
**/tmp/*
**shada*
**tmuxinator*
tags
TAGS
*bookmarks*
**/nvim/.config/**
*auto-save-list*
**/.emacs.d/elpa
**/.emacs.d/recentf
**/.emacs.d/smex-items
**/vim-*
**/.vim/plugged
**/.vim/.undotree
*user-init.el
/emacs/.emacs.d/projectile.cache
*.patch
/emacs/.emacs.d/.org-id-locations
/ac_setup.diff
/emacs/.emacs.d/.python-environments/default/bin/activate
/emacs/.emacs.d/.python-environments/default/bin/activate.csh
*.python-env*
*.desktop
*.diff
/emacs/.emacs.d/eshell/history
/emacs/.emacs.d/irony/bin/irony-server
/emacs/.emacs.d/semanticdb/!home!ratheesh!AM335xBluetopiaLinuxProduction-4.0.1.4.2U!BluetopiaPM!sample!LinuxPXPM!semantic.cache
/emacs/.emacs.d/semanticdb/!home!ratheesh!AM335xBluetopiaLinuxProduction-4.0.1.4.2U!BluetopiaPM!sample!LinuxSPPM!semantic.cache
/emacs/.emacs.d/semanticdb/!home!ratheesh!ppcport!juno_utils!semantic.cache
*viminfo*
