[submodule "zsh-omz/.oh-my-zsh"]
	path = zsh-omz/.oh-my-zsh
	url = https://github.com/ratheesh/oh-my-zsh.git
[submodule "zsh-prezto/.zprezto"]
	path = zsh-prezto/.zprezto
	url = https://github.com/ratheesh/prezto.git
[submodule "zsh-zimfw/.zim"]
	path = zsh-zimfw/.zim
	url = https://github.com/ratheesh/zimfw
	branch = custom
