[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/ratheesh/prezto.git
[submodule "zsh-omz/.oh-my-zsh"]
	path = zsh-omz/.oh-my-zsh
	url = https://github.com/ratheesh/oh-my-zsh.git
