*session.*
*backups*
*.places*
org-clock-save.el
*.dat
**/ido*
*bookmarks*
*auto-save-list*
**/.emacs.d/elpa
**/.emacs.d/recentf
**/.emacs.d/smex-items
**/vim-*
**/.vim*
*user-init.el
/emacs/.emacs.d/projectile.cache
*.patch
/emacs/.emacs.d/.org-id-locations
/ac_setup.diff
/emacs/.emacs.d/.python-environments/default/bin/activate
/emacs/.emacs.d/.python-environments/default/bin/activate.csh
*.python-env*
*.desktop
*.diff
